.nav ul {
  display: flex;
  gap: 10px;
}

.nav li {
  list-style: none;
}

.nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
}