.container {
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav ul {
  display: flex;
  gap: 10px;
}

.nav li {
  list-style: none;
}

.nav a {
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  
  display: grid;
  place-items: center;

  text-transform: uppercase;
  text-decoration: none;

  color: white;
  background-color: black;
}